http://$SERVER_IP {
    handle_path /n8n/* {
        reverse_proxy 127.0.0.1:5678
    }
    handle /mcp/sse/* {
        uri strip_prefix /mcp
        header Content-Type "text/event-stream"
        reverse_proxy 127.0.0.1:8001
    }
    handle /mcp/messages/* {
        uri strip_prefix /mcp
        reverse_proxy 127.0.0.1:8001
    }
    handle /* {
        reverse_proxy 127.0.0.1:3000
    }
    encode gzip
}